:host([theme~="message-dialog"]) [part="header"] {
	padding: 0;
	height: var(--lumo-space-s);
}

:host([theme~="message-dialog"]) [part="content"] {
	padding-top: var(--lumo-space-l) !important;
}

:host([theme~="message-dialog"][theme~="primary"]) [part="header"] {
  background-color: var(--lumo-primary-color);
}

:host([theme~="message-dialog"][theme~="success"]) [part="header"] {
  background-color: var(--lumo-success-color);
}

:host([theme~="message-dialog"][theme~="warning"]) [part="header"] {
  background-color: var(--lumo-warning-color);
}

:host([theme~="message-dialog"][theme~="error"]) [part="header"] {
  background-color: var(--lumo-error-color);
}
