/*
  Remove the forced padding and/or margins around some components.
*/

vaadin-big-decimal-field,
vaadin-checkbox-group,
vaadin-combo-box,
vaadin-date-picker,
vaadin-date-time-picker,
vaadin-email-field,
vaadin-integer-field,
vaadin-multi-select-combo-box,
vaadin-number-field,
vaadin-password-field,
vaadin-radio-group,
vaadin-text-area,
vaadin-text-field,
vaadin-time-picker
{
  padding: 0;
}

vaadin-button,
vaadin-details
{
  margin: 0;	
}

vaadin-upload::part(upload-button) {
  margin: 0;
}

/* 
  vaadin-custom-field assumes that vaadin-text-field and others still have the padding that is
  removed above. Compensate by removing it from the calculation of certain properties.
*/
vaadin-custom-field {
  line-height: var(--lumo-text-field-size);	
}
vaadin-custom-field::before {
	margin-top: 0;
}
vaadin-custom-field[has-label]::part(label) {
	padding-bottom: 0.5em;
}
vaadin-custom-field[has-error-message]::part(error-message)::before {
  height: 0.4em;
}


hr {
  margin: 0;
}
